@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4C81BD;
  --color-primary-hover: #304385;
  --color-primary-light: #4C81BD;
  --color-primary-dark: #3E97FF;
  --color-primary-text: #1E3250;

  --color-primary-50: #F0F7FF;
  --color-primary-100: #E0F2FE;
  --color-primary-200: #BAE6FD;
  --color-primary-300: #7DD3FC;
  --color-primary-400: #38BDF8;
  --color-primary-500: #27548A;
  --color-primary-600: #1E3A8A;
  --color-primary-700: #1E40AF;
  --color-primary-800: #1E3A87;
  --color-primary-900: #1E3A76;

  --color-secondary: #50B3A2;
  --color-secondary-hover: #3D9A88;
  --color-secondary-light: #6CC7B8;
  --color-secondary-dark: #338B7A;
  --color-secondary-text: #1D4F44;

  --color-secondary-50: #E9F9F7;
  --color-secondary-100: #C2F1EB;
  --color-secondary-200: #99E8E0;
  --color-secondary-300: #6EE0D4;
  --color-secondary-400: #4BD6C0;
  --color-secondary-500: #34C0B0;
  --color-secondary-600: #2B9C96;
  --color-secondary-700: #1F7C7C;
  --color-secondary-800: #1D6B6B;
  --color-secondary-900: #195A59;

  --color-background-light: #F7F9FC;
  --color-background-dark: #323232;

  --color-header-light: #F7F9FC;
  --color-header-dark: #222222;

  --color-success: #22C55E;
  --color-success-light: #DCFCE7;
  --color-error: #EF4444;
  --color-error-light: #FEE2E2;
  --color-warning: #F59E0B;
  --color-warning-light: #FEF3C7;
}
